In [1]:
# %load 101_user_based_statistics.py
#encoding:utf-8
import gc
import numpy as np
import pandas as pd
from tqdm import tqdm
from utils import BayesianSmoothing, load_pickle, dump_pickle, raw_data_path

train = pd.read_pickle('../data/train.pkl')
test = pd.read_pickle('../data/test.pkl')
df = pd.concat([train, test], axis=0)

df_feat = pd.DataFrame({'instance_id': df.instance_id, 'day': df.day})


user_cols = ['user_id', 'user_gender_id', 'user_age_level', 'user_occupation_id', 'user_star_level']
id_cols = ['instance_id', 'item_id', 'item_brand_id', 'item_city_id', 'shop_id']
df_cols = df.columns
# grade_cols = ['item_price_level', 'item_sales_level', 'item_collected_level', 'item_pv_level', 'shop_review_num_level',
#               'shop_review_positive_rate', 'shop_star_level', 'shop_score_service', 'shop_score_delivery', 'shop_score_description']
grade_cols = ['item_price_level']

def get_stats_target(df, group_column, target_column, drop_raw_col=False):
    df_old = df.copy()
    grouped = df_old.groupby(group_column)
    the_stats = grouped[target_column].agg(['mean', 'median', 'max', 'min', 'std', 'skew']).reset_index()
    the_stats.columns = [ group_column,
                            '_%s_groupby_%s_mean' % (target_column, group_column),
                            '_%s_groupby_%s_median' % (target_column, group_column),
                            '_%s_groupby_%s__max' % (target_column, group_column),
                            '_%s_groupby_%s__min' % (target_column, group_column),
                            '_%s_groupby_%s__std' % (target_column, group_column),
                            '_%s_groupby_%s__skew' % (target_column, group_column)
                        ]
    if drop_raw_col:
        df_old.drop(group_column, axis=1, inplace=True)

    return the_stats

def generate_basic_feats(df, feat_df):

    # ============================= 计算关于用户特征的id类特征的数量 =====================
    '''
    如：对于每个男性用户, 他所浏览的各种item_id的数量
    '''
    for user_col in (user_cols):
        cnt_result = df.groupby(user_col)[id_cols].nunique()
        cnt_result = cnt_result.add_prefix(user_col + '_').add_suffix('_cnt')
        cnt_result = cnt_result.reset_index()
        np.sum(feat_df.instance_id - pd.merge(df, cnt_result, on=user_col, how='left').instance_id)
        feat_df[user_col + '_count'] = pd.merge(df, cnt_result, on=user_col, how='left').iloc[:, -1].values
    print('the shape of feat_df {}'.format(feat_df.shape))
    # ============================ 计算关于用户特征的得分类特征的统计特征 ========================
    '''
    如：男性用户中item_price_level的平均数，中位数，最大值，最小值
    '''
    for user_col in (user_cols):
        # statistic feature
        for grade_col in grade_cols:
            the_stats = get_stats_target(df, user_col, grade_col, drop_raw_col=False)
            tmp_df = pd.merge(df, the_stats, on=user_col, how='left')
            feat_df = pd.concat([feat_df, tmp_df.drop(df_cols, axis=1, inplace=True)] , axis=1)
    print('the shape of feat_df {}'.format(feat_df.shape))
    
    # ========================== 计算每个用户下的category2的个数 =========================
    '''
    如：对于每个男性用户，他所浏览的各种category2的数量
    '''
    for user_col in (user_cols):
        # category and property columns
        category_cnt = df.groupby(user_col)['item_category_list2'].nunique().reset_index()
        category_cnt.columns = [user_col, 'category2_groupby_{}_cnt'.format(user_col)]
        tmp_df = pd.merge(df, category_cnt, how='left', on=user_col)
        feat_df = pd.concat([feat_df, tmp_df.drop(df_cols, axis=1, inplace=True)], axis=1)

        del category_cnt
        gc.collect()
    print('the shape of feat_df {}'.format(feat_df.shape))
    return feat_df


df = generate_basic_feats(df, df_feat)
train_feat = df[(df['day'] >= 18) & (df['day'] <= 24)].drop('day', axis=1)
test_feat = df[df['day'] == 25].drop('day', axis=1)
print(train_feat.columns)
print('the shape of train {}'.format(train_feat.shape))
print('the shape of test {}'.format(test_feat.shape))
dump_pickle(train_feat, '../data/train_feature/101_user_based_statistics.pkl')
dump_pickle(test_feat, '../data/test_feature/101_user_based_statistics.pkl')

the shape of feat_df (520975, 7)
the shape of feat_df (520975, 7)
the shape of feat_df (520975, 7)
Index(['instance_id', 'user_id_count', 'user_gender_id_count',
       'user_age_level_count', 'user_occupation_id_count',
       'user_star_level_count'],
      dtype='object')
the shape of train (478087, 6)
the shape of test (42888, 6)

In [2]:
test_feat

,instance_id,user_id_count,user_gender_id_count,user_age_level_count,user_occupation_id_count,user_star_level_count
478087,55144604125888,1,3856,3413,3823,2098
478088,221669167755726,29,3856,2734,3823,2730
478089,566644865989395,2,3856,3413,3823,2730
478090,954943998950521,2,3856,3413,3823,2722
478091,1192015136416062,1,3856,2673,3823,2348
478092,1239632009133923,2,3856,3266,3823,2730
478093,1370758425798224,4,3856,2734,3823,2870
478094,1386245957915884,4,3186,2673,3823,2888
478095,1587829942816220,1,3856,3266,3823,2973
478096,1965296257027358,1,3856,2734,3823,2836
478097,2308106506629079,1,3856,2734,3823,2973
478098,2593276901346545,3,3856,3413,3823,2098
478099,2637118065628095,2,3186,3266,3823,2870
478100,3007000529626316,13,3186,3413,3823,2836
478101,3486611488890127,13,3856,3413,3823,2888
478102,3526619005621379,1,3856,2734,3823,1955
478103,3707907988344302,1,3856,3413,3823,2870
478104,3859410900799220,4,3856,3266,3341,2722
478105,4132909449437306,1,3856,2267,3823,2888
478106,4666490843011356,1,3856,3413,3823,2888
478107,4957624520403631,4,3856,2734,3823,2973
478108,5022624687918236,10,3186,3413,3341,2888
478109,5245031179204693,4,3856,2734,3823,1955
478110,5273213709089732,1,1870,1940,3823,2348
478111,5341429719598597,1,3856,2734,3823,2836
478112,5421993019334491,4,3856,3413,3823,2836
478113,5519710025487847,2,3856,3413,3823,2098
478114,5773700242363804,1,1746,3413,3823,2973
478115,5812026496876317,1,3856,2734,3823,2836
478116,5860625415171838,4,3856,3413,3823,2888
...,...,...,...,...,...,...
520945,9218907180526345832,1,3856,3266,3823,2098
520946,9218981503517714801,5,3186,3413,3823,2730
520947,9219146802642177439,7,3856,3413,3823,2836
520948,9219326030555473846,5,3856,3413,3341,2722
520949,9219495404550361559,6,3856,3413,3823,2973
520950,9219828839768797460,1,3856,3413,3823,2973
520951,9219872810374709982,1,3856,2267,3823,2730
520952,9220014406502796220,4,3856,2734,3823,2973
520953,9220382525700306900,2,3856,3413,2203,2973
520954,9220631915819630554,1,3856,3413,3823,2730
520955,9220875213349217073,2,3856,3266,3823,2836
520956,9221177154482237272,4,3856,3266,3823,2348
520957,9221279677319599162,5,3856,3413,3823,2870
520958,9221545574882546113,3,3856,2734,3823,2870
520959,9221925122230783571,1,3856,1215,3823,2730
520960,9222090356942371531,1,3856,3266,3823,1955
520961,9222109648855170971,4,3856,2734,2203,2973
520962,9222141457597116937,2,3186,3266,3341,2888
520963,9222285767379828967,16,3856,3266,3341,2836
520964,9222287777522168790,1,3856,3266,3341,2870
520965,9222478836053455811,2,3856,2734,3823,1955
520966,9222717253857812764,25,3856,2734,3823,2973
520967,9222907962986002359,7,3856,3413,3823,2722
520968,9222961260409590066,1,3856,3413,3823,2098
520969,9222982830877278384,5,3856,3413,3823,2888
520970,9223023944722880589,2,3856,2673,2203,2730
520971,9223033683038155749,5,3856,3413,3341,2730
520972,9223164017435061072,7,3856,3266,3823,2730
520973,9223181048960696048,6,3856,2267,3823,2730
520974,9223191753383222876,6,3856,3266,3823,2836